# Used for infrastructure in docker compose
# Create .env for server environment
# Create .env.local for local environment

# ************** DATABASE **************
MONGO_DB_PORT=
MONGO_DB_NAME=
MONGO_CLUSTER_NAME=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB_PROTOCOL= # mongodb or mongodb+srv